@{
    ViewData["Title"] = "Inicio";
}

<div class="jumbotron">
    <h1 class="display-4">¡Bienvenido a Documents Manager!</h1>
    <p class="lead">A través de este site, podrás gestionar la documentación comercial de tu empresa.</p>
    <hr class="my-4">
    <p>Puedes ingresar a los diferentes módulos de la aplicación: Facturas, Productos, Usuarios, etc.</p>
    <a class="btn btn-primary btn-lg" asp-controller="Facturas" asp-action="Index" role="button">Echa un vistazo a las facturas</a>
</div>